.card-car {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  margin: 10px;
  box-shadow: 0 0 15px 1px rgba(32, 33, 36, 0.37);
  position: relative;
  flex-basis: 85%;
}

.card-car h1 {
  font-size: 18px;
  color: var(--color-titles);
  text-align: center;
  margin-bottom: 5px;
}

.card-car h3 {
  color: var(--color-primary);
  margin: 5px;
}

.card-car img {
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}

.buttons-contact {
  position: absolute;
  right: 5px;
  bottom: 46px;
  display: flex;
  flex-direction: row;
}

.buttons-contact svg {
  fill: var(--color-primary);
}

.button-more, .button-mail {
  text-decoration: none;
  border: 0px;
  width: 30px;
  height: 30px;
  background-color: #555;
  border-radius: 100%;
  padding: 6px;
  margin: 0px 3px;
  outline:none;
  box-shadow: 0 0 15px 1px rgba(32, 33, 36, 0.37);
}

.button-mail {
  background-color: #FFFDA3;
}